hidden: false
parents: 
textName: {}
textDesc: {}
core:
  stepOnStart: 01_main
  mainType: true
  recordPointCompletion: true
  recordPointMemory: true
tags: 
steps:
  01_main:
    comment: 
    index: 
    textName: {}
    textDesc: {}
    textExit: 
    countdownCustom: 
    memoryDisplayed:
    - mod_flag_hvt
    conditions:
      hvt:
        priority: 2
        filterEventTypes:
        - OverworldQuestMemory
        - OverworldPointCombatEndLate
        completionTarget: 
        checkValue:
          value: !OverworldIntValueQuestMemory
            questKey: mod_liberation
            memoryPrefix: 
            memoryKey: quest_liberation_progress_s2
          target: !OverworldIntValueFixed
            value: 2
        checksBase: 
      main:
        priority: 0
        filterEventTypes:
        - OverworldQuestMemory
        - OverworldPointCombatEndLate
        completionTarget: 
        checkValue:
          value: !OverworldIntValueQuestMemory
            questKey: mod_liberation
            memoryPrefix: 
            memoryKey: quest_liberation_progress_s1
          target: !OverworldIntValueFixed
            value: 5
        checksBase: 
    effectsOnEvents:
    - early: true
      filterEventTypes: 
      filterEventEntity:
        eventType: OverworldPointCombatVictory
        checks:
        - !OverworldValidateMemory
          check:
            method: RequireAll
            checks:
            - key: quest_liberation_progress_s1
              presenceDesired: true
              valueFromMemory: false
              valueFromMemoryKey: 
              valueCheck: NoValueCheck
              value: 0
      comment: 
      checksGlobal: 
      checksBase: 
      functionsGlobal:
      - !QuestMemoryOffset
        memoryKey: quest_liberation_progress_s1
        value: 1
        min: 
        max: 
        questMain: true
        questKey: 
      - !QuestActiveApplyEffectGroup
        effectKey: patrol_chance
        questMain: true
        questKey: 
      functionsBase: 
      functionsEventEntity: 
      linkedEffectKeys: 
    - early: true
      filterEventTypes: 
      filterEventEntity:
        eventType: OverworldPointCombatVictory
        checks:
        - !OverworldValidateMemory
          check:
            method: RequireAll
            checks:
            - key: quest_liberation_progress_s2
              presenceDesired: true
              valueFromMemory: false
              valueFromMemoryKey: 
              valueCheck: NoValueCheck
              value: 0
            - key: mod_flag_hvt
              presenceDesired: true
              valueFromMemory: false
              valueFromMemoryKey: 
              valueCheck: NoValueCheck
              value: 0
      comment: 
      checksGlobal: 
      checksBase: 
      functionsGlobal:
      - !QuestMemoryOffset
        memoryKey: quest_liberation_progress_s2
        value: 1
        min: 
        max: 
        questMain: true
        questKey: 
      - !QuestActiveApplyEffectGroup
        effectKey: event_reset
        questMain: true
        questKey: 
      functionsBase: 
      functionsEventEntity: 
      linkedEffectKeys: 
    - early: false
      filterEventTypes:
      - OverworldResetReached
      filterEventEntity: 
      comment: 
      checksGlobal:
      - !OverworldValidateSimLock
        present: false
      checksBase: 
      functionsGlobal:
      - !QuestActiveApplyEffectGroup
        effectKey: patrol_guaranteed
        questMain: true
        questKey: 
      - !OverworldInteractionStartFilter
        overrideOngoing: true
        tagsUsed: true
        keys: 
        tags:
          liberation_backslide: true
      functionsBase: 
      functionsEventEntity: 
      linkedEffectKeys: 
    - early: false
      filterEventTypes:
      - OverworldTimeSkipEnd
      filterEventEntity: 
      comment: 
      checksGlobal: 
      checksBase:
      - !OverworldValidateMemory
        check:
          method: RequireAll
          checks:
          - key: world_auto_countdown_expired
            presenceDesired: true
            valueFromMemory: false
            valueFromMemoryKey: 
            valueCheck: NoValueCheck
            value: 0
      functionsGlobal:
      - !QuestActiveApplyEffectGroup
        effectKey: patrol_guaranteed
        questMain: true
        questKey: 
      - !OverworldInteractionStartFilter
        overrideOngoing: true
        tagsUsed: false
        keys:
        - liberation_backslide_timeskip
        tags: 
      functionsBase: 
      functionsEventEntity: 
      linkedEffectKeys: 
    effectsOnEntry:
      comment:
        comment: On entry, we need to create 3 points.
      checksGlobal: 
      checksBase: 
      functionsGlobal:
      - !ModifyMemoryBase
        changes:
        - change: Set
          key: mod_ext_missions_list_limit
          value: 0
          valueFromMemory: false
          valueFromMemoryKey: 
        - change: Set
          key: mod_ext_missions_list_unlinked
          value: 0
          valueFromMemory: false
          valueFromMemoryKey: 
        - change: Set
          key: mod_ext_missions_list_memory_exclusive
          value: 1
          valueFromMemory: false
          valueFromMemoryKey: 
      - !QuestMemorySet
        memoryKey: quest_liberation_event_spawns
        value: 0
        questMain: true
        questKey: 
      - !ModifyMemoryProvinceCurrent
        changes:
        - change: Set
          key: province_audio_escalation_override
          value: 1
          valueFromMemory: false
          valueFromMemoryKey: 
      - !OverworldSetCountdownFromMemory
        durationMemoryKey: campaign_countdown_base_length
        durationFallback: 24
      - !OverworldAudioSync
        syncKey: music_worldmap_war
        value: 1
      - !QuestProvinceCreatePointFiltered
        spawnRange:
          x: 0
          y: 0
        spawnPriority: Furthest
        filter:
          boss: true
        spawnGroupOverride: 
        nameOverride: 
        functionsOnSpawn:
        - !ModifyMemory
          changes:
          - change: Set
            key: quest_liberation_progress_s2
            value: 1
            valueFromMemory: false
            valueFromMemoryKey: 
          - change: Set
            key: mod_flag_hvt
            value: 1
            valueFromMemory: false
            valueFromMemoryKey: 
        questMain: true
        questKey: 
      - !QuestProvinceCreatePoint
        key: generic_base_showdown
        spawnGroupOverride: 
        nameOverride: 
        functionsOnSpawn:
        - !ModifyMemory
          changes:
          - change: Set
            key: quest_liberation_progress_s2
            value: 1
            valueFromMemory: false
            valueFromMemoryKey: 
          - change: Set
            key: mod_flag_hvt
            value: 1
            valueFromMemory: false
            valueFromMemoryKey: 
        questMain: true
        questKey: 
      - !QuestProvinceCreatePoint
        key: generic_assassination
        spawnGroupOverride: 
        nameOverride: 
        functionsOnSpawn:
        - !ModifyMemory
          changes:
          - change: Set
            key: quest_liberation_progress_s2
            value: 1
            valueFromMemory: false
            valueFromMemoryKey: 
          - change: Set
            key: mod_flag_hvt
            value: 1
            valueFromMemory: false
            valueFromMemoryKey: 
        questMain: true
        questKey: 
      - !QuestLiberationUpdate
        pointsPreserved: 10
        pointChecks: 
        progressMemoryKey: quest_liberation_progress_s1
        filter:
          contest_s2: true
          mod_hvt: false
        spawnGroup: 
        spawnShuffle: true
        spawnLimit: 3
        spawnLimitOverridesVariant: true
        spawnVariantsKey: s2_refresh
        spawnVariantsCustom: 
        questMain: true
        questKey: 
      - !QuestLiberationUpdate
        pointsPreserved: 10
        pointChecks: 
        progressMemoryKey: quest_liberation_progress_s1
        filter:
          contest_s1: true
          mod_hvt: false
        spawnGroup: 
        spawnShuffle: true
        spawnLimit: 3
        spawnLimitOverridesVariant: true
        spawnVariantsKey: s2_refresh
        spawnVariantsCustom: 
        questMain: true
        questKey: 
      - !ModifyOverworldPoints
        count: 0
        onlyCombat: false
        onlyHostile: false
        checks:
        - !OverworldValidateQuestLink
          questMain: true
          questKey: 
        - !OverworldValidateMemory
          check:
            method: RequireAll
            checks:
            - key: quest_liberation_progress_s1
              presenceDesired: true
              valueFromMemory: false
              valueFromMemoryKey: 
              valueCheck: NoValueCheck
              value: 0
        functions:
        - !OverworldEntityQuestUnlink {}
      - !QuestActiveApplyEffectGroup
        effectKey: patrol_guaranteed
        questMain: true
        questKey: 
      functionsBase: 
      functionsEventEntity: 
      linkedEffectKeys: 
    effectsOnExit:
      comment: 
      checksGlobal: 
      checksBase: 
      functionsGlobal:
      - !DeletePoints
        mode: All
        target: 0
        onlyCombat: false
        onlyHostile: true
        checks:
        - !OverworldValidatePointTags
          tagsMethod: RequireAll
          tags:
          - tag: role_patrol
            not: false
      - !DeletePoints
        mode: All
        target: 0
        onlyCombat: false
        onlyHostile: false
        checks:
        - !OverworldValidatePointTags
          tagsMethod: RequireAll
          tags:
          - tag: role_event
            not: false
      - !DeletePoints
        mode: All
        target: 0
        onlyCombat: false
        onlyHostile: false
        checks:
        - !OverworldValidatePointKey
          key: hg_forward_base
      - !QuestDeletePoints
        onlyCombat: false
        onlyHostile: false
        checks: 
        questMain: true
        questKey: 
      - !QuestProvinceCapture
        questMain: true
        questKey: 
      - !QuestProvinceWarState
        active: false
        questMain: true
        questKey: 
      - !QuestStart
        questKey: province_selection
      - !OverworldAudioSync
        syncKey: music_worldmap_war
        value: 0
      - !OverworldRemoveCountdown {}
      - !ModifyMemoryBase
        changes:
        - change: Set
          key: quest_liberation_reward_earned
          value: 1
          valueFromMemory: false
          valueFromMemoryKey: 
      - !OverworldInteractionStartFilter
        overrideOngoing: true
        tagsUsed: false
        keys:
        - mod_campaign_liberation_01
        tags: 
      functionsBase: 
      functionsEventEntity: 
      linkedEffectKeys: 
    stepNext: 
effectsShared:
  event_reset:
    comment:
      comment: This effect spawns event POIs, but only if the quest memory indicates they weren't spawned before.
    checksGlobal: 
    checksBase: 
    functionsGlobal:
    - !OverworldGroupConditional
      checksGlobal: 
      checksBase: 
      checksBaseValues:
      - resolver: !OverworldIntValueQuestMemory
          questKey: province_liberation
          memoryPrefix: 
          memoryKey: quest_liberation_event_spawns
        check: Less
        value: 1
      functions:
      - !QuestMemorySet
        memoryKey: quest_liberation_event_spawns
        value: 1
        questMain: true
        questKey: 
      - !DeletePoints
        mode: All
        target: 0
        onlyCombat: false
        onlyHostile: false
        checks:
        - !OverworldValidatePointTags
          tagsMethod: RequireAll
          tags:
          - tag: role_event
            not: false
      - !OverworldRepeatGroup
        repeats: 3
        functions:
        - !CreatePoint
          spawnPriority: None
          spawnGroup: poi
          spawnRange:
            v:
              x: 0
              y: 10000
          provinceOverride: 
          nameOverride: 
          questKey: 
          functionsOnSpawn: 
          tagsUsed: true
          keys: 
          tags:
            role_event: true
      - !UnlockCodex
        key: overworld_poi_events
      functionsElse: 
    functionsBase: 
    functionsEventEntity: 
    linkedEffectKeys: 
  patrol_chance:
    comment: 
    checksGlobal: 
    checksBase: 
    functionsGlobal:
    - !OverworldChanceBranchGroup
      chance: 0.35
      functions:
      - !Comment
        comment: If chance roll succeeds, spawn a patrol
      - !DeletePoints
        mode: All
        target: 0
        onlyCombat: true
        onlyHostile: true
        checks:
        - !OverworldValidatePointTags
          tagsMethod: RequireAll
          tags:
          - tag: role_patrol
            not: false
      - !QuestProvinceCreatePointFiltered
        spawnRange:
          x: 150
          y: 200
        spawnPriority: None
        filter:
          role_patrol: true
        spawnGroupOverride: 
        nameOverride: 
        functionsOnSpawn:
        - !OverworldEntityMemorySet
          value: 8
          memoryKey: campaign_countdown_offset
        - !OverworldEntityExpiration
          duration: 6
        - !OverworldEntityQuestUnlink {}
        questMain: true
        questKey: 
      functionsElse: 
    functionsBase: 
    functionsEventEntity: 
    linkedEffectKeys: 
  patrol_guaranteed:
    comment:
      comment: Check active points in the quest. If none are active, reset (3x spawn) and subtract a progress point.
    checksGlobal: 
    checksBase: 
    functionsGlobal:
    - !QuestProvinceCreatePointFiltered
      spawnRange:
        x: 150
        y: 200
      spawnPriority: None
      filter:
        role_patrol: true
      spawnGroupOverride: 
      nameOverride: 
      functionsOnSpawn:
      - !OverworldEntityMemorySet
        value: 1
        memoryKey: quest_liberation_progress_s2
      - !OverworldEntityMemorySetRandom
        valueRange:
          x: 8
          y: 12
        memoryKey: campaign_countdown_offset
      - !OverworldEntityEscalation
        offset: false
        level: 3
      - !OverworldEntityExpiration
        duration: 12
      - !OverworldEntityQuestUnlink {}
      questMain: true
      questKey: 
    functionsBase: 
    functionsEventEntity: 
    linkedEffectKeys: 
